.session_card {
  padding: 6px 6px 6px 10px;
  //   border: 1px solid #dadada;
  // background: #e9f9fb;
  border-radius: 8px;
  // border-left: 7px solid #937ff1;
  margin: 0px 0px 18px 0px;
  grid-column-end: span 12;
  max-height: 74px;
  height: 100%;
  width: 100%;
  .s_title {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    margin-bottom: -5px !important;
  }
  span {
    font-size: 12px;
    font-weight: 400;
  }
  .s_footer {
    margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .s_time {
      margin-top: 6px;
      color: #a5a5a5;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
    .s_btn {
      font-size: 13px;
      font-weight: 400;
      padding: 0px 13px;
      // background-color: #937ff1;
      border-radius: 6px;
      color: white;
    }
  }
}

@media only screen and (max-width: 928px) {
  .session_card {
    grid-column-end: span 6;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .session_card {
    grid-column-end: span 12;
    margin-bottom: 0px;
  }
}
