.form_login_card {
  .error_msg {
    margin-top: -30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: red;
    margin-bottom: 10px;
  }
  .circlar_progress {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .MuiCircularProgress-svg {
      color: #40c1d9 !important;
    }
  }
  .success_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: green;
    margin-top: 10px;
  }
}
