.chapters {
  padding: 18px;
  .tab {
    padding: 0 20px;
    margin-bottom: 6px;
    background: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .chevron_rotate {
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
  }
  .chapters__header {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
    grid-gap: 20px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 18px;
    .card__image-container {
      grid-column-end: span 1;
      background: #3c6ee1;
      width: 228px;
      height: 132px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;

      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #c8e8f5;
      }
    }
    .card__content {
      grid-column-end: span 3;
      border-right: 1px solid #dadada;
      .card__name {
        height: 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #969595;
      }
      .card__title {
        height: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }
      .progress_bar-text {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #5e5e5e;
      }
    }
    .card__infos {
      grid-column-end: span 5;
      display: flex;
      gap: 16px;
      .info__container {
        display: flex;
        padding: 12px;
        > p {
          margin-left: 12px;
          height: 20px;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #5e5e5e;
          .w-500 {
            display: inline-block;
            margin-left: 6px;
            font-weight: 500;
            color: #0f1e42;
          }
        }
      }
    }
    .card__btn {
      grid-column-end: span 3;
      .period {
        margin: 12px 0;
      }
      > p {
        height: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1770px) {
  .chapters {
    .chapters__header {
      .card__content {
        grid-column-end: span 3;
      }
      .card__infos {
        grid-column-end: span 8;
      }
      .card__btn {
        grid-column-end: span 5;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .chapters {
    .chapters__header {
      .card__content {
        grid-column-end: span 7;
        border: none;
      }
      .card__infos {
        grid-column-end: span 10;
      }
      .card__btn {
        grid-column-end: span 5;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .chapters {
    .chapters__header {
      .card__image-container {
        grid-column-end: span 12;
        width: 100%;
      }

      .card__content {
        grid-column-end: span 12;
      }
      .card__infos {
        grid-column-end: span 12;
        display: block;
      }
      .card__btn {
        grid-column-end: span 12;
      }
    }
  }
}
