.periods {
  width: 100%;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dadada;
  border-radius: 8px;
  .separation {
    display: inline-block;
    border: 1px solid #dadada;
  }
  .btn__period {
    margin: 0px 4px;
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 9px;
    font-weight: 400;
    font-size: 13px;
    color: #5e5e5e;
    border: none;
    background-color: transparent;
    width: 100%;

    &.active {
      color: #ffffff;
      background: #937ff1;
    }
  }
}
