@use "../../assets/styles" as *;
@use "./components/ProfileDetails";
@use "./components/ProfileAvatar";
@use "./components/NewPassword";

.section_profile {
  margin: 0;
  padding: 0;
  color: black;
  padding: 42px 16px 26px 32px !important;

  .section_left {
    border: 1px solid #e8e8e8;
    border-radius: 13px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding: 30px 26px 15px 26px !important;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-5.MuiGrid-grid-lg-4.section_right {
    padding-top: 0px;
    padding-left: 16px;
  }

  //   .MuiGrid-item {
  //     padding-top: 0px;
  //     padding-left: 16px;
  //   }
}
@media screen and (max-width: 899px) {
  .section_profile {
    .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-5.MuiGrid-grid-lg-4.section_right {
      padding-top: 16px;
      padding-left: 0px;
    }
  }
}
