.tabsContainer {
  .MuiTabs-root {
    align-items: center;
  }

  .chapters {
    padding: 0;
  }
  .MuiTabs-root {
    .MuiSvgIcon-root {
      stroke: #c4c4c4;
      fill: #c4c4c4;
      border: 1px solid #c4c4c4;
    }
  }
  .MuiButtonBase-root {
    text-transform: unset;
    height: 27px;
    font-weight: 500;
    font-size: 16px;
    color: #c4c4c4;
    &.Mui-selected {
      color: #937ff1;
      border: none;
    }
  }
}
@media only screen and (max-width: 700px) {
  .chapters {
    padding: 0;
    .cards.chapters_card {
      padding: 12px;
    }
  }
  main {
    padding: 0;
  }
  .cards {
    padding: 12px;
  }
}
