@import "../../../../assets/styles/variables";

.filter {
  align-items: center;
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-wrap: wrap;
  min-height: 67px;
  justify-content: space-between;
  padding: 0px 24px 0px 18px;
  .filterText {
    margin: 8px 0px;
    color: $primary;
    font-size: 18px;
    font-weight: 500;
  }
  .filterOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 8px 0px;
    .filter-btn {
      background: none;
      border-radius: 6px;
      border: 1px solid #dadada;
      color: $primary;
      font-size: 16px;
      font-weight: 500;
      height: 39px;
      width: 136px;
      &:hover {
        cursor: pointer;
        background: #f5f5f5;
      }
      &.active {
        background: #c8e8f5;
      }
      .text-btn {
        margin-right: 10px;
      }
    }
  }
}
