.method_card {
  background: #ffffff;
  border: 1px solid #dadada;
  padding: 24px 15px 15px 22px;
  width: 100%;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
  }

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }

  .method_title {
    display: flex;
    align-items: center;
    gap: 11px;

    p {
      color: #000000;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
    }

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-bottom: 5px;
    }
  }

  .method_rib {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  .method_account {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 5px;
  }
}
