.comments_form {
  > * {
    display: block;
    width: 100%;
  }
  label {
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0f1e42;
    span {
      display: inline-block;
      background: #0f1e42;
      border-radius: 50%;
      font-weight: 600;
      font-size: 12px;
      color: #ffffff;
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }
  input {
    height: 52px;
  }
  input,
  textarea {
    resize: none;
    width: 100%;
    margin-bottom: 26px;
    border-radius: 10px;
    border: 1px solid #dadada;
    padding: 16px 18px;
    &::placeholder {
      color: #8d8d8d;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .card_btn {
    cursor: pointer;
    padding: 10px;
    background: #30c1d9;
    border-radius: 13px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-bottom: 14px;
  }
}
