@use "../../../../assets/styles" as *;

.profile_details {
  .disabled_item {
    color: #a3a3a3;
  }
  .error_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: red;
    margin-top: 10px;
  }
  .success_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: green;
    margin-top: 10px;
  }
  .circlar_progress {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    .MuiCircularProgress-svg {
      color: #40c1d9 !important;
    }
  }
  .error_field {
    border: 1px solid red;
    border-radius: 13px;
  }

  .governorate__container {
    * {
      background-color: unset;
    }
    .error_field {
      border: 1px solid red;
      border-radius: 13px;
    }

    & > div {
      margin-top: 6px;
      & > div {
        & > div {
          border-radius: 10px;
          // border: 1px solid #dadada;
          border: unset;
          padding: unset;
          // padding: 7px 17px !important;
          label {
            span {
              color: red;
            }
          }
          & > input {
            margin: unset;
            border: none !important;
            max-height: 52px !important;
            color: black;
            padding: 0 !important;
            padding-left: 18px !important;
            &::placeholder {
              // opacity: 0.5;
              color: black !important;
              font-size: 14px !important;
              font-weight: 400 !important;
            }
          }
        }
      }
    }
  }
  .student__id__container {
    position: relative;

    & > div {
      input {
        color: #78787a;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        // -webkit-text-security: disc;
        -moz-text-security: disc;
      }

      & > div {
        position: absolute;
        top: 67px;
        right: 17px;
        cursor: pointer;
        z-index: 2;

        svg {
          transition: transform 0.2s;

          &:hover {
            -webkit-transform: scale(1.1) rotate(0.01deg);
            transform: scale(1.1) rotate(0.01deg);
          }
        }
      }
    }
  }

  label {
    font-size: 16px;
    font-weight: 500;
    color: #494949;
    text-align: left;
  }

  input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 14px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #dadada;
    padding: 15px 18px 15px 18px;

    &::placeholder {
      color: #8d8d8d;
      font-size: 13px;
      font-weight: 400;
    }
  }

  select {
    width: 100%;
    margin-top: 5px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #dadada;
    padding: 15px 18px 15px 18px;
    align-items: center;
    background-color: white;
  }
}
