@use "./components/overview";
@use "./components/expiredSoon";
@use "./components/lastUploadedVideo";
@use "./components/learningProgress";
@use "./components/progress";
@use "./components/calendar";
@use "./components/viewTable";
.section_dashboard {
  // overflow: scroll;
  // height: calc(100% - 70px);
  padding: 0px 16px 0px 16px;
  color: black;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(24, minmax(auto, calc(100% / 24)));
  grid-gap: 20px;
  .section_left {
    grid-column-end: span 19;
    grid-gap: 10px;
    // display: grid;
    grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
    .live_session_mobile {
      display: none;
      grid-column-end: span 12;
    }
    .section_overview {
      margin-top: 30px;
      grid-column-end: span 12;
      margin-bottom: 34px;
    }

    .section_tabs {
      display: grid;
      grid-column-end: span 12;
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      // margin-top: -40px;
      // grid-gap: 20px;

      .tabs_left {
        grid-column-end: span 6;
        margin-right: 10px !important;
      }
      .tabs_right {
        grid-column-end: span 6;
        margin-left: 10px !important;
      }
    }
  }
  .section_right {
    grid-column-end: span 5;
    border-left: 1px solid #dadada;
    // padding-left: 6px;
    // height: 100%;
    position: sticky;
    top: 68px;
    align-self: start;
    min-height: calc(100vh - 68px);
  }
}
//tablet calensar widget
@media only screen and (max-width: 928px) {
  .section_dashboard {
    .section_left {
      .live_session_mobile {
        width: 100%;
        display: block;
      }
    }
    .section_right {
      display: none;
    }
  }
}
@media only screen and (max-width: 1900px) {
  .section_dashboard {
    .section_left {
      .section_cards {
        .card_item {
          grid-column-end: span 4;
        }
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
  .section_dashboard {
    .section_left {
      grid-column-end: span 19;
      .section_tabs {
        .tabs_left {
          grid-column-end: span 12;
          margin-right: 0px !important;
        }
        .tabs_right {
          grid-column-end: span 12;
          margin-left: 0px !important;
        }
      }
      .section_cards {
        .card_item {
          grid-column-end: span 6;
        }
      }
    }
    .section_right {
      grid-column-end: span 5;
    }
  }
}
@media only screen and (max-width: 1360px) {
  .section_dashboard {
    .section_left {
      grid-column-end: span 17;
      .section_tabs {
        .tabs_left {
          grid-column-end: span 12;
          margin-right: 0px !important;
        }
        .tabs_right {
          grid-column-end: span 12;
          margin-left: 0px !important;
        }
      }
      .section_cards {
        .card_item {
          grid-column-end: span 6;
        }
      }
    }
    .section_right {
      grid-column-end: span 7;
    }
  }
}

@media only screen and (max-width: 928px) {
  .section_dashboard {
    .section_left {
      grid-column-end: span 24;
      .section_overview {
        margin-top: 0px;
      }
      .section_cards {
        .card_item {
          grid-column-end: span 6;
        }
      }
      .section_tabs {
        .tabs_left {
          grid-column-end: span 12;
          margin-right: 0px !important;
        }
        .tabs_right {
          grid-column-end: span 12;
          margin-left: 0px !important;
        }
      }
    }
    .section_right {
      grid-column-end: span 24;
    }
  }
}

@media only screen and (max-width: 550px) {
  .section_dashboard {
    display: block;
    .section_left {
      .section_cards {
        .card_item {
          grid-column-end: span 12;
        }
      }
    }
  }
}
