.section_latest {
  border: 1px solid #dadada;
  border-radius: 12px;
  margin-bottom: 15px;
  .section_title {
    font-weight: 400;
    font-size: 14px;
    color: #464646;
    margin: 10px 20px;
  }
  .divider {
    width: 100%;
    height: 1px;
    color: #dadada;
    background-color: #dadada;
  }
  .section_content {
    padding: 17px 20px 0px 20px;
    .no_data {
      text-align: center;
      padding: 40px 0 55px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #878787;
    }
    .items {
      // display: grid;
      // grid-template-columns: repeat(24, minmax(auto, calc(100% / 24)));

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 28px;
      // grid-gap: 20px;
      // gap: 5px;
      .items_left {
        display: flex;
        align-items: center;
        cursor: pointer;

        // grid-column-end: span 20;
        max-width: 75%;
        .img_chapter {
          min-width: 106px;
          height: 60px;
          background-color: #fed02b;
          margin-right: 10px;
          border-radius: 6px;

          img {
            width: 100%;
            height: 100%;
            // margin-right: 10px;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          p {
            font-weight: 500;
            font-size: 14px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // max-width: 250px;
          }
          .video_details {
            font-weight: 400;
            font-size: 14px;
            display: flex;
            // justify-content: space-between;
            color: #5e5e5e;
            gap: 15px;
            p {
              height: 4px;
              width: 4px;
              color: black;
            }
            span {
              color: #5e5e5e;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
      .items_right {
        // grid-column-end: span 4;
        display: flex;
        flex-direction: column;
        // align-items: right;
        // justify-content: end;
        // text-align: end;

        p {
          font-weight: 400;
          font-size: 14px !important;
          color: #a2a2a2;
          text-align: right;
          float: right;
        }
        span {
          color: #5e5e5e;
          font-weight: 400;
          font-size: 13px;
          display: flex;
          flex-wrap: nowrap;
          gap: 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1113px) and (min-width: 1090px) {
  .section_latest {
    .section_content {
      .items {
        .items_right {
          p {
            font-weight: 400;
            font-size: 13px !important;
            color: #a2a2a2;
          }
          span {
            color: #5e5e5e;
            font-weight: 400;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .section_latest {
    .section_content {
      .items {
        // flex-direction: column;
        // justify-content: flex-start;
        .items_left {
          width: 100%;
        }
        .items_right {
          // margin-left: 10px;
          // display: none;
          p {
            font-size: 12px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .section_latest {
    flex-direction: row;
    position: static;
    .section_title {
      margin: 8px;
    }
    .section_content {
      padding: 8px;

      .items {
        flex-direction: column;
        // justify-content: flex-start;
        .items_left {
          width: 100%;
        }
        .items_right {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 290px) {
  .section_latest {
    .section_content {
      .items {
        .items_left {
          display: flex;
          flex-direction: column !important;
        }
      }
    }
  }
}
