@use "../../../../assets/styles" as *;

.section_avatar {
  border: 1px solid #e8e8e8;
  border-radius: 13px;
  padding: 20px;
  margin-bottom: 16px;

  .left__section {
    display: flex;
    gap: 17px;
    align-items: center;

    @media only screen and (max-width: 1405px) {
      min-width: 100%;
    }

    img {
      width: 74px;
      height: 74px;
      border-radius: 50%;
    }

    .section_text {
      p {
        font-size: 17px;
        font-weight: 400;
      }

      span {
        font-size: 15px;
        font-weight: 400;
        color: #a3a3a3;
      }
    }
  }

  .right__section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;

    * {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    @media only screen and (max-width: 1405px) {
      margin-top: 20px;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
    }

    .delete__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 1px solid #e72b47;
      border: none;
      border-radius: 8px;
      color: #e72b47;
      padding: 10px;
      //   max-width: 114px;
      width: 100%;
      cursor: pointer;
      background-color: white;
    }

    .image__input__label {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 1px solid #937ff1;
      border-radius: 8px;
      color: #937ff1;
      padding: 10px;
      //   max-width: 114px;
      width: 100%;
      cursor: pointer;
    }
  }
}

// 1388
