@use "../RechargeModal";

.recharge_modal {
  .close-btn {
    cursor: pointer;
  }
  .content_modal {
    .s_modal_content_input {
      margin-top: 20px;
      .success {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        color: green;
        font-size: 14px;
        font-weight: 500;
      }
      .error_msg {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        color: red;
        font-size: 14px;
        font-weight: 500;
      }
      .s_modal_input {
        grid-column-end: span 12;
        display: flex;
        flex-direction: column;
        label {
          font-size: 16px;
          font-weight: 500;
          color: #494949;
          text-align: left;
          margin-bottom: 10px;
          span {
            color: red;
          }
        }
        input {
          height: 52px;
        }
        input {
          width: 100%;
          border-radius: 10px;
          border: 1px solid #dadada;
          padding: 16px 18px;
          margin-bottom: 10px;
          &::placeholder {
            color: #8d8d8d;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        background: #0f1e42;
        border-radius: 13px;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 20px;
        margin-top: 10px;
      }
    }
  }
}
