.offers {
  margin: 0;
  padding: 60px 16px;
  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 28px;
    .sub_container {
      width: 100%;
      .video_container {
        border: 1px solid #dadada;
        border-radius: 12px;
        overflow: hidden;
        aspect-ratio: 16 / 9;
      }
      .description {
        margin: 34px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #5e5e5e;
      }
    }
  }
}

@media only screen and (max-width: 1090px) {
  .offers {
    padding: 12px;
    .container {
      gap: 6px;
    }
  }
}

@media only screen and (max-width: 740px) {
  .offers {
    padding: 18px;
    .container {
      gap: 0px;
      .video_container {
        display: none;
      }
      .description {
        display: none;
      }
    }
  }
}
