.view_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 1px solid #dadada;
  border-radius: 20px;
  width: 100%;
  padding: 14px;
  .card_left {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fed02b;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    flex-shrink: 0;
  }
  .card_right {
    p {
      font-weight: 400;
      font-size: 18px;
      color: #878787;
      margin-bottom: 5px;
    }
    span {
      font-weight: 500;
      font-size: 27px;
    }
  }
}
