.logout_button {
  display: flex;
  gap: 14px;
  background: #ffffff;
  width: 197px;
  height: 46px;
  border-radius: 15px;
  align-items: center;
  padding: 12px;
  transition: all 300ms ease;
  cursor: pointer;
  & > svg {
    stroke: #707c9a;
  }
  & > .logout_button__label {
    font-size: 18px;
    color: #707c9a;
    font-weight: 500;
  }
  &:hover {
    background: #f5f5f5;
  }
}
