@use "../../assets/styles" as *;

.sign {
  display: flex;
  flex-direction: column;
  background: $royal_blue;
  width: 210px;
  // height: 186px;
  border-radius: 22px;
  position: relative;
  padding: 14px;
  padding-bottom: 17px;
  padding-top: 60px;
  align-items: center;
  margin-top: 38px;
  & > .sign__icon_container {
    background: #ffffff;
    border: 4px solid $royal_blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 100px;
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    & > svg {
      width: 60px;
    }
  }
  & > .sign__title {
    font-size: 16px;
    font-weight: 600;
    color: #c8e8f5;
    margin-bottom: 4px;
  }
  & > .sign__desc {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 21px;
    margin-bottom: 14px;
  }
  & > .sign__bouton {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #0f1e42;
    background: #ffffff;
    width: 173px;
    height: 35px;
    border-radius: 8px;
  }
}
