.overview {
  tr {
    height: 92px;
  }
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  .attachement {
    display: flex;
    align-items: center;
    gap: 12px;
    > p {
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
    }
    > button {
      background-color: transparent;
      padding: 4px 20px;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #30c1d9;
      text-align: center;
      border: 1px solid #30c1d9;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  .teacher {
    display: flex;
    align-items: center;
    gap: 20px;
    > img {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      width: 52px;
      height: 52px;
    }
    > svg {
      width: 52px;
      height: 52px;
    }
    .teacher_info {
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
      }
      .subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #686868;
      }
    }
  }
}
