.dialog__purchase {
  .purchase__modal {
    width: 645px;
    max-width: 645px;
    padding: 0 60px;
    .subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #78787a;
    }
    .modal__title {
      position: relative;
      > p {
        text-align: center;
        // margin: 18px 0;
      }
      .close-btn {
        position: absolute;
        right: -42px;
        top: 18px;
        cursor: pointer;
      }
      .icon__container {
        margin: 12px auto;
        display: flex;
        justify-content: center;
        width: 72px;
        height: 72px;
        background: #fed02b;
        border-radius: 100%;
        outline: 2px solid #ebebeb;
        outline-offset: 4px;
        align-items: center;
        &.confirmation {
          background: #00c643;
        }
        &.failled {
          background: #e72b47;
        }
        svg {
          display: block;
        }
      }
    }
    .modal__content {
      padding: 0;
      margin: 0;
      .modal__card {
        padding: 16px 28px;
        border: 1px solid #dadada;
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: 24px;

        .modal__title {
          font-weight: 400;
          font-size: 13px;
          color: #969595;
        }
        .modal__subtitle {
          font-weight: 500;
          font-size: 17px;
          color: #000000;
        }
        .infos {
          display: flex;
          .infos__container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            gap: 24px;
            .info__container {
              display: flex;
              align-items: center;
              margin: 20px 0;
              > p {
                margin-left: 12px;
                font-weight: 400;
                font-size: 13px;
                color: #5e5e5e;
                .w-500 {
                  font-weight: 500;
                  color: #000000;
                }
              }
            }
          }
        }
      }
    }
    .period__container {
      margin: 10px 0px;
      p {
        margin: 8px 0;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #969595;
      }
    }
    .btn__container {
      margin: 26px 0px;
      padding: 0;
      .card_btn {
        margin: 0;
        padding: 0;
        height: 52px;
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .dialog__purchase {
    width: 100%;
    .MuiPaper-root {
      width: 100%;
      margin: 12px;
    }
    .purchase__modal {
      margin: 0 auto;
      width: 100%;
      padding: 18px;
      .modal__title {
        .close-btn {
          right: 0px;
        }
      }
      .modal__content {
        padding: 0;
        margin: 0;
        .modal__card {
          .infos {
            .infos__container {
              display: block;
            }
          }
        }
      }
      .btn__container {
        margin: 0px;
      }
    }
  }
}
