@use "./components/PointCard";
@use "./components/RechargeModal";
@use "./components/PointModal";
@use "./components/viewTable";
@use "./components/MethodCard";
@use "./components/QrCard";

.section_wallet {
  // display: grid;
  padding: 36px 16px;
  color: black;
  // grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
  gap: 10px;
  .points_cards {
    // grid-column-end: span 12;
    grid-template-columns: repeat(11, minmax(auto, calc(100% / 11)));
    display: grid;
    .point_card {
      grid-column-end: span 3;
      margin-right: 15px;
    }

    .method_card {
      grid-column-end: span 2;
    }
    .method_card0 {
      border-radius: 12px 0 0 12px;
    }

    .qr_methode {
      grid-column-end: span 2;
      .qr_card {
        border-radius: 0 12px 12px 0;
      }
    }
    // }
  }
  .s_point_title {
    margin: 33px 0px 14px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
  }
}

@media only screen and (max-width: 1829px) {
  .section_wallet {
    .points_cards {
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      display: grid;
      gap: 15px;
      .point_card {
        grid-column-end: span 4;
        margin-right: 0px;
      }
      .method_card0 {
        border-radius: 12px;
      }

      .method_card {
        grid-column-end: span 4;
        border-radius: 12px;
      }
      .qr_methode {
        grid-column-end: span 4;
        .qr_card {
          border-radius: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .section_wallet {
    .points_cards {
      grid-column-end: span 12;
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      display: grid;
      .point_card {
        grid-column-end: span 6;
      }

      .method_card {
        grid-column-end: span 6;
      }
      .qr_methode {
        grid-column-end: span 6;
      }
      // }
    }
  }
}

@media only screen and (max-width: 700px) {
  .section_wallet {
    .points_cards {
      grid-column-end: span 12;

      .point_card {
        grid-column-end: span 12;
      }

      .method_card {
        grid-column-end: span 12;
      }
      .qr_methode {
        grid-column-end: span 12;
      }
      // }
    }
  }
}
