.qr_card {
  background: #ffffff;
  border: 1px solid #dadada;
  //   border-radius: 12px;
  padding: 23px 30px 19px 30px;
  width: 100%;

  .qr_card_section {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 6px;

    img {
      width: 105px;
      height: 105px;
      // margin-left: 20px;
    }
    .qr_card_right {
      p {
        color: #1aa1e0;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
      img {
        width: 66px;
        height: 48px;
        // margin-left: 20px;
      }
    }
  }
}
