.navigation__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  & > .navigation_link {
    display: flex;
    gap: 14px;
    background: #ffffff;
    width: 197px;
    height: 46px;
    border-radius: 15px;
    align-items: center;
    padding: 12px;
    transition: all 300ms ease;
    & > svg {
      stroke: #707c9a;
    }
    & > .navigation_link__label {
      font-size: 18px;
      color: #707c9a;
      font-weight: 500;
    }
    &:hover {
      background: #f5f5f5;
    }
    &.active {
      background: #40d28a;
      & > svg {
        stroke: #ffffff;
      }
      & > .navigation_link__label {
        color: #0f1e42;
        color: #ffffff;
      }
    }
  }
}
