@use "../../../../assets/styles" as *;

.back_card_section {
  background-color: #40d28a;
  // background-image: url("../../assets/images/backgroundAuth.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 28px 0;
  .card_left_arrow {
    top: 51px !important;
    left: 47px !important;
    position: absolute;
    cursor: pointer;
  }
  .card_section {
    text-align: center;

    .card_content {
      padding: 48px;
      border-radius: 20px;
    }
    .card_logo {
      max-width: 160px;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      margin-bottom: 11px;
    }
    .card_title {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      text-transform: capitalize;
      font-family: "Poppins", sans-serif;
      margin-bottom: 33px;
    }
    .sub_title {
      margin-top: -21px;
      color: $sub_title;
      font-size: 16px;
    }
    .s-verif_item {
      color: $meduim_purple;
    }
  }
}
@media screen and (max-width: 1500px) {
  .back_card_section {
    .card_section {
      text-align: center;
      .card_content {
        padding: 29px 44px 32px 44px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .back_card_section {
    background-color: white;
    .card_section {
      text-align: center;
      .card_content {
        padding: 8px 10px 32px 8px;
        border-radius: 20px;
      }
    }
  }
}
