.item_session {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  margin-bottom: 24px;
  // background-color: #f1f1f1;
  padding-top: 8px;
  border-radius: 8px;
  cursor: pointer;

  .session_content {
    padding: 5px 6px;
    border-radius: 5px;

    .session_title {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #adadad;
      }
      .session_statue_upcoming {
        background: #00c77f;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        border-radius: 3px;
      }
      .session_statue_closed {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        background-color: #e62f51;
        border-radius: 3px;

        // width:;
        // height:;
      }
    }
    .session_big_title_upcoming {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .session_big_title_closed {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: line-through;
      color: #818181;
    }
    .session_day_time {
      margin-top: -8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #5e5e5e;
    }
  }
  .current {
    background-color: #f1f1f1;
  }
}
