.points_widget {
  display: flex;
  gap: 8px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  width: 149px;
  height: 40px;
  justify-content: center;
  align-items: center;
  & > svg {
    fill: #0f1e42;
  }
  & > .group {
    display: flex;
    flex-direction: column;
    & > .label {
      font-size: 13px;
      font-weight: 500;
      color: #464646;
      line-height: 12px;
    }
    & > .points {
      font-size: 17px;
      font-weight: 500;
      color: #0f1e42;
      line-height: 18px;
    }
  }
}

.sidebar__group > .points_widget {
  margin-bottom: 32px;
  width: 197px;
  height: 57px;
  justify-content: flex-start;
  padding: 12px;
  & > .group {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    & > .label {
      font-size: 14px;
    }
  }
}
