.comments_container {
  .comment {
    padding: 24px;
    &.border {
      border-bottom: 1px solid #dadada;
    }
    .author {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      > svg {
        width: 48px;
        height: 48px;
      }
      > img {
        border-radius: 100%;
        width: 48px;
        height: 48px;
        object-fit: cover;
      }
      > span {
        display: inline-block;
        margin-left: 16px;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #000000;
      }
    }
    .comment_content {
      font-size: 16px;
      line-height: 30px;
      color: #545454;
      margin-bottom: 24px;
    }
    .reaction {
      display: flex;
      align-items: center;
      gap: 8px;
      .emoji_react {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .emojis_react {
          position: absolute;
          top: 100%;
          left: -50%;
          // transform: translate(50%, 0%);
          border: 1px solid #ebebeb;
          border-radius: 21px;
          background: white;
          display: flex;
          gap: 6px;
          padding: 6px;
          > span {
            text-align: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            padding: 4px;
            border-radius: 50%;
            &:hover {
              background: #f6f5f6;
            }
          }
        }
      }
      > span {
        border-left: 2px solid #dadada;
        width: 1px;
        height: 24px;
      }
      .emoji {
        border: 1px solid #ebebeb;
        border-radius: 21px;
        padding: 2px;

        > span {
          display: inline-block;
          margin: 0 2px;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .reply {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        color: #000000;
      }
    }
    .comment_reply {
      margin-left: 34px;
    }
  }
}
