@use "../../../../assets/styles" as *;
.btn__container {
  padding-top: 0px;
  .card_btn {
    width: 100%;
    height: 60px;
    border-radius: 13px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 42px;
    background: #30c1d9;
    border-radius: 13px;
    &.purchased {
      background: #fff;
      color: #e72b47;
      border: 1px solid #dadada;
      border-radius: 13px;
      &:hover {
        background-color: #e72b47;
        color: #fff;
        cursor: pointer;
      }
    }
    &:hover {
      background-color: $darck_green;
      color: #fff;
      cursor: pointer;
    }
  }
}
