.cards {
  padding: 18px;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
  grid-gap: 20px;
  .btn__container {
    padding: 18px 12px;
  }
}

.card {
  position: relative;
  border: 1px solid #dadada;
  border-radius: 10px;
  grid-column-end: span 2;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  &:hover {
    transform: translateY(-2px);
  }
}

.card__image-container {
  background: #3c6ee1;
  width: 100%;
  height: 147px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #c8e8f5;
  }
}

.card__content {
  padding: 12px 16px;
  background-color: #fff;
  .card__info {
    font-size: 14;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 6px 0;
    gap: 8px;
    * {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      color: #5e5e5e;
    }
    svg {
      margin-top: 3px;
      margin-right: 4px;
      stroke: #fab900;
    }
  }
}

.card__title {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

@media only screen and (max-width: 2322px) {
  .card {
    grid-column-end: span 3;
  }
}

@media only screen and (max-width: 1914px) {
  .card {
    grid-column-end: span 4;
  }
}

@media only screen and (max-width: 1506px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 828px) {
  .card {
    grid-column-end: span 12;
  }
}
