.point_card {
  padding: 22px 24px 27px 24px;
  border: 1px solid #dadada;
  border-radius: 12px;
  .s_balance {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 13px;
    padding: 0;
    p {
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      text-transform: capitalize;
      color: #8d8d8d;
    }
    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      span {
        color: #8d8d8d;
      }
    }
  }
  .card_btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, calc(100% / 2)));
    gap: 15px;

    .btn {
      grid-column-end: span 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 49px;
      border-radius: 13px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
    }
    .btn_add {
      background: #fed02b;
    }
    .btn_transfert {
      border: 1px solid #0f1e42;
      background: #ffffff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .point_card {
    .s_balance {
      p {
        font-size: 16px;
      }
      span {
        font-size: 18px;
      }
    }
    // .card_btns {
    //   .btn {
    //     grid-column-end: span 1;
    //   }
    // }
  }
}
