// @use "../../assets/styles/mixins" as *;
.section_search {
  .search_bar {
    background: #ffffff;
    position: relative;
    display: flex;
    gap: 8px;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    width: 320px;
    height: 40px;
    padding: 0 8px;
    align-items: center;
    & > svg {
      stroke: #a5a5a5;
      width: 23px;
    }
    // & > .MuiAutocomplete-root {
    //   width: 100%;
    //   & .MuiAutocomplete-input {
    //     width: 100%;
    //     border: none;
    //     outline: none;
    //     &::placeholder {
    //       color: #a5a5a5;
    //       font-size: 15px;
    //     }
    //   }
    // }
    .input_search {
      background: #ffffff;
      width: 100%;
      height: 100%;
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #a5a5a5;
        font-size: 15px;
      }
    }
  }
  .search_content {
    position: absolute;
    width: 320px;
    min-height: 50px;
    margin-bottom: -50px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-top: none;
    border-radius: 0 0 12px 12px;
    color: #0000;
    padding: 10px 5px 20px 10px;
    .no_data {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #878787;
    }
    .content_items {
      .item_title {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #937ff1;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 8px;
        margin-top: 8px;
      }
      .scroll_items {
        overflow-y: scroll;
        max-height: 150px;
        min-height: 50px;

        .lists {
          display: flex;
          align-items: center;
          gap: 12px;
          max-height: 500px;
          color: black;
          margin: 10px 0;
          cursor: pointer;
          .item {
            color: black;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
    }
  }
  .search {
    background: #ffffff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 12px 12px 0 0 !important;
    border-bottom: none !important;
  }
}
