.event_modal {
  //   background-color: red;
  position: relative;
  .MuiDialog-container.MuiDialog-scrollPaper {
    > div {
      border-radius: 8px !important;
      max-width: 770px;
      width: 770px;
      padding: 0px !important;
    }
  }
  .MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
    padding: 17px 28px 10px 28px !important;
  }
  .modal_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #adadad;
    }
  }
  .title_modal_event {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
  }
  .modal_event_nav {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: start;

    .m_subject {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      display: flex;
      align-items: center;
      gap: 11px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #937ff1;
        border-radius: 6px;
        // width: 67px;
        height: 23px;
        color: white;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        padding: 0 9px;
      }
    }

    .m_level {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      display: flex;
      align-items: center;
      gap: 11px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #937ff1;
        border-radius: 6px;
        // width: 67px;
        height: 23px;
        color: white;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        padding: 0 9px;
      }
    }
    .m_class {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      span {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        margin-left: 11px;
      }
    }

    .m_prof {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      display: flex;
      align-items: center;
      gap: 11px;
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      .name_prof {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
  //content
  .content_modals {
    .error_msg {
      // margin-top: -30px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: red;
      margin-bottom: -10px;
    }
    .circlar_progress {
      margin-top: -30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      .MuiCircularProgress-svg {
        color: #40c1d9 !important;
      }
    }
    .success_msg {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      color: green;
      margin-top: 10px;
    }
    .content_sub_title {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #8b8b8b;
      margin-bottom: 13px;
    }
    .sessions_cards {
      display: grid;
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      // grid-gap: 15px;

      .item_session {
        grid-column-end: span 6;
      }
    }
    .divider {
      width: 100%;
      height: 1px;
      // background-color: #dadada;
      margin-bottom: 17px;
      border-bottom: 2px dashed #dadada;
    }
    .modal_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .s_footer_left {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 24px;
          height: 24px;
          border: 2px solid #dadada;
          border-radius: 3px;
        }
        span {
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          text-transform: capitalize;
          color: #000000;
        }
      }
      .s_prix {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #937ff1;
      }
    }

    .btn_event {
      margin-top: 27px;
      padding: 14px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffff;
      background: #30c1d9;
      border-radius: 10px;
      width: 100%;
      border: none;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .event_modal {
    .content_modals {
      .content_sub_title {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #8b8b8b;
        margin-bottom: 13px;
      }
      .sessions_cards {
        display: grid;
        grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));

        .item_session {
          grid-column-end: span 12;
        }
      }
    }
    .modal_event_nav {
      flex-wrap: wrap;
    }
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
      margin: 10px !important;
    }
  }
}
