.header {
  display: flex;
  padding: 12px 20px;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #dadada;
  justify-content: space-between;
  & > .header__group {
    display: flex;
    gap: 18px;
    align-items: center;
    @media only screen and (max-width: 1089px) {
      flex-grow: 1;
      justify-content: space-between;
    }
  }
}
