@use "./components/SessionDetailsModal";
@use "./components/SessionDetailsCard";
@use "./components/PaymentModal";
@use "./components/JoinSessionModal";
.s_live_session {
  //   padding: 20px 16px;
  color: black;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  max-width: 2500px;

  .s_divider_fix {
    width: 95px;
    height: 1px;
    background-color: #dadada;
    margin-top: 70px;
    position: absolute;
  }
  .calendar-responsive {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 600px;
  }
  .calendar-container {
    display: flex;
    position: absolute;
  }

  .ta-calendar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .body {
      display: flex;
      max-width: 100%;
      position: relative;
      padding-left: 94px;
      height: 100%;
      // max-height: 900px;
      // overflow: scroll;

      & > .timeline {
        // border-top: 1px solid #dadada;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 139px;
        left: 23px;
        & > .time {
          margin-bottom: 56px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #a5a5a5;
        }
      }
      .day {
        width: calc(100% / 7);
        min-width: 200px;
        .s_header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 4px;
          height: 70px;
          // overflow: hidden !important;
          // position: absolute;
          .name {
            font-weight: 500;
            margin-right: 6px;
            font-size: 17px;
            color: #707c9a;
          }
          .sub-name {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #a5a5a5;
          }
        }

        & > .divider {
          width: 100%;
          height: 1px;
          background-color: #dadada;
        }
        .t1 {
          display: none;
        }
        & > .time-zone {
          height: 80px;
          border-bottom: 1px solid #dadada;
          border-left: 1px solid #dadada;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          & > .event {
            border-radius: 8px;
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 3px 2px 2px 7px;
            overflow: hidden;
            cursor: pointer;
            transition: all 300ms ease;

            .content_card {
              overflow: hidden;
              height: 100%;
              // width: 100%;
              width: 100%;
              min-width: 160px;
              flex-wrap: wrap;
              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                // margin-top: -3px;
              }
              .s_c_time {
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                color: #a5a5a5;
                white-space: nowrap;
              }
              .s_c_btn {
                font-weight: 500;
                font-size: 11px;
                line-height: 16px;
                color: #000000;
                flex: none;
                order: 0;
                flex-grow: 0;
                padding: 4px;
                background: #fed02b;
                border-radius: 6px;
              }
              .s_c_footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 3px;
                gap: 10px;
              }
            }

            &:hover {
              z-index: 999 !important;
              width: 100% !important;
              left: 0 !important;
            }
            .s_c_title {
              font-weight: 500;
              font-size: 14px;
              // line-height: 21px;
              color: #000000;
              white-space: nowrap;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .s_c_title:hover {
              overflow: visible;
              white-space: normal;
            }

            & > .name {
              font-size: 12px;
              color: #584ba0;
            }
            & > .row {
              display: flex;
              justify-content: space-between;
              & > .time {
                font-size: 10px;
                color: #b2b2b6;
              }
            }
          }

          .time_now {
            position: absolute;
            z-index: 2;
            height: 3px !important;
            background: #fed02b;
            // width: 100%;
            // max-width: 1550px;
            // min-width: 890px;
            min-width: 1400px;
            max-width: 2400px;

            .head {
              background: #fed02b;
              // -webkit-border-radius: 50%;
              // border-radius: 50%;
              // content: "";
              // height: 12px;
              // margin-left: -6.5px;
              // margin-top: -5px;
              // width: 12px;
              position: absolute;

              margin-left: -63px;
              margin-top: -12px;
              width: 63px;
              height: 28px;
              z-index: 506;
              display: flex;
              place-content: center;
              border-radius: 34px;
              span {
                // position: absolute;
                // margin-left: -6.5px;
                // margin-top: -5px;
                margin-top: 2px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #000000;
              }
            }
          }
          // .card_byed_session {
          //   width: 200px;
          //   height: 200px;
          //   background-color: red;
          //   color: black;
          //   float: bottom;
          //   margin-bottom: -280px;
          // }
          //event with 1,5h duration
          .small_event {
            .content_card {
              overflow: hidden;
              height: 100%;
              // width: 100%;
              width: 100%;
              min-width: 150px;
              flex-wrap: wrap;
              p {
                margin-top: -4px;
              }
              .s_c_title {
                font-size: 10px;
                margin-top: -3px;
              }
              .s_c_time {
                margin-top: -3px;
                font-size: 11px;
              }
              .s_c_btn {
                margin-top: -5px;

                padding: 2px;
              }
            }
          }
        }
      }
    }
  }

  //body
}

@media screen and (max-width: 1600px) {
  .s_live_session {
    .s_navigation_weeks {
      margin-left: 20px !important;
    }
    .ta-calendar {
      .body {
        .day {
          .s_header {
            flex-direction: column;

            .name {
              font-size: 16px;
            }
            .sub-name {
              font-size: 14px;
            }
          }
          & > .time-zone {
            // & > .small_event {
            //   padding-left: 5px !important;
            //   padding-right: 0px !important;
            //   .content_card {
            //     p {
            //       font-size: 11px !important;
            //     }
            //     .s_c_title {
            //       font-size: 12px !important;
            //     }
            //     .s_c_time {
            //       font-size: 11px !important;
            //     }
            //     .s_c_btn {
            //       padding: 2px;
            //     }
            //     .s_c_footer {
            //       align-items: flex-start;
            //       justify-content: center;
            //       flex-direction: row !important;
            //     }
            //   }
            //   &:hover {
            //     z-index: 999 !important;
            //     width: 100% !important;
            //     left: 0 !important;
            //   }
            // }

            //event with 2h duration
            // & > .event {
            //   .content_card {
            //     p {
            //       margin-top: -6px;
            //     }
            //     .s_c_title {
            //       font-size: 12px;
            //       line-height: 15px;
            //       margin: 5px 0 5px 0;
            //     }
            //     .s_c_time {
            //       margin-top: -3px;
            //       font-size: 11px;
            //     }
            //     .s_c_btn {
            //       padding: 2px;
            //       margin-top: -2px;
            //     }

            //     .s_c_footer {
            //       margin-top: -1px;
            //       align-items: flex-start;
            //       justify-content: left;
            //       flex-direction: column;
            //       gap: 0px;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}

.s_navigation_weeks {
  margin: 20px 16px 19px 16px;
  color: black;
  display: flex;
  gap: 19px;
  // align-items: center;
  // justify-content: space-between;
  button {
    background-color: none;
    background: none;
    border: none;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #707c9a;
    min-width: 150px;
  }
  .btn {
    border: none;
    cursor: pointer;
    background-color: none;
  }
}
.s_divider {
  width: 100%;
  height: 1px;
  background-color: #dadada;
}
