.dashboard_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 18px;
  img {
    width: 17px;
    height: 17px;
  }
  span {
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 16px;
  }
}
