.section_cards {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
  grid-gap: 20px;
  margin-bottom: 0px !important;
  .card_item {
    grid-column-end: span 3;
  }
}
