.lessons {
  padding: 26px 16px;
  display: flex;
  flex-wrap: nowrap;
  gap: 44px;
  .container {
    width: 100%;
    .video__container {
      width: 100%;
      position: relative;
      .refund {
        align-items: center;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
        color: #78787a;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        gap: 12px;
        height: 61px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 60px;
        width: 171px;
        z-index: 10;
      }
      video {
        cursor: pointer;
        border: 23px solid #0f1e42;
        :-webkit-full-screen {
          border: none;
        }
      }
      .title {
        background: #d4f2f7;
        border-radius: 10px 10px 0px 0px;
        color: #0f1e42;
        display: flex;
        font-size: 15px;
        font-weight: 500;
        gap: 12px;
        padding: 12px;
        align-items: center;
        .tag {
          background: #fed02b;
          border-radius: 6px;
          color: #000000;
          font-size: 11px;
          font-weight: 500;
          line-height: 16px;
          padding: 3px 8px;
        }
        .icon__container {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          padding: 8px;
          border-radius: 100%;
          width: 36px;
          height: 36px;
          display: inline-block;
          &:hover {
            background: #eef0f2;
          }
        }
      }
      .lock_container {
        aspect-ratio: 16 / 9;
        border: 23px solid black;
        position: relative;
      }

      .play__btn {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media only screen and (max-width: 1089px) {
          > svg {
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }
  }
  .contents {
    width: 543px;
    flex-shrink: 0;
    align-self: flex-start;
    border: 1px solid #dadada;
    border-radius: 10px;
    button {
      text-transform: unset;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      &.Mui-selected {
        color: #937ff1;
        border: none;
      }
    }
    .contents__header {
      display: block;
      padding: 20px;
      border-bottom: 1px solid #dadada;

      .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 10px;
      }
      .icons__container {
        display: flex;
        justify-content: space-between;

        .info__container {
          display: flex;
          align-items: center;
          > p {
            font-weight: 500;
            font-size: 15px;
            color: #000000;
            margin-left: 12px;
          }
        }
      }
    }

    .videos {
      margin-top: 12px;
      height: 514px;
      overflow: scroll;
      .videos__group {
        .videos__title {
          background-color: #d4f2f7;
          padding: 13px 20px;
        }
        .video__info {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 16px 12px;
          margin: 8px 12px 8px 24px;
          border-radius: 16px;
          &:hover {
            background-color: #f6f5f6;
          }
          &.active {
            background-color: #f6f5f6;
          }
          svg {
            flex-shrink: 0;
            width: 21px;
            height: 21px;
          }

          .video__title {
            margin-left: 20px;
          }
          .video__duration {
            margin-left: auto;
          }
        }
      }
    }
    .magazines {
      margin-top: 12px;
      height: 514px;
      overflow: scroll;
      .no_magazine {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #878787;
        margin: 12px 0;
      }

      .magazine__info {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        margin: 8px 12px 8px 12px;
        border-radius: 16px;

        cursor: pointer;
        &:hover,
        &.active {
          background-color: #f6f5f6;
        }
        .icon__container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          background: #c8e8f5;
          border-radius: 47px;
        }
        .magazine__title {
          margin-left: 16px;
        }
        .btn__download {
          margin-left: auto;
          padding: 10px;
          width: 87px;
          height: 40px;
          border: 1px solid #30c1d9;
          border-radius: 7px;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: #30c1d9;
          background-color: transparent;
          cursor: pointer;
          &:hover {
            background: #30c1d9;
            color: white;
          }
          &:disabled {
            cursor: not-allowed;
            color: #dadada;
            border: 1px solid #dadada;
            &:hover {
              background-color: transparent;
              color: #dadada;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .lessons {
    padding: 8px;
    display: block;
    .contents {
      width: 100%;
    }
  }
  .video__container {
    border: none;
  }
}
