.refund__dialog {
  .refund__modal {
    width: 552px;
    padding: 0 60px 38px 60px;

    .modal__title {
      position: relative;
      > p {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        margin: 24px 0px;
      }
      .close-btn {
        position: absolute;
        right: -42px;
        top: 18px;
        cursor: pointer;
      }
      .icon__container {
        margin: 12px auto;
        display: flex;
        justify-content: center;
        width: 72px;
        height: 72px;
        background: #e72b47;
        border-radius: 100%;
        outline: 2px solid #ebebeb;
        outline-offset: 4px;
        align-items: center;
        svg {
          display: block;
        }
      }
    }
    .MuiDialogContent-root {
      max-width: 366px;
      padding: 0;
      margin: 0 auto;
    }
    .modal__content {
      .form {
        > * {
          display: block;
          width: 100%;
        }
        label {
          font-size: 16px;
          font-weight: 500;
          color: #494949;
          text-align: left;
          margin-bottom: 10px;
          span {
            color: red;
          }
        }
        input {
          height: 52px;
        }
        input,
        textarea {
          resize: none;
          width: 100%;
          margin-bottom: 26px;
          border-radius: 10px;
          border: 1px solid #dadada;
          padding: 16px 18px;
          &::placeholder {
            color: #8d8d8d;
            font-size: 13px;
            font-weight: 400;
          }
        }
        .card_btn {
          cursor: pointer;
          padding: 10px;
          background: #30c1d9;
          border-radius: 13px;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          color: #ffffff;
          border: none;
          margin-bottom: 14px;
        }
      }
    }
    .btn__container {
      margin: 26px 0px;
      padding: 0;
      .card_btn {
        margin: 0;
        padding: 0;
        height: 52px;
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  .refund__dialog {
    .MuiPaper-root {
      margin: 0 12px;
    }
    .refund__modal {
      width: 100%;
    }
  }
}
