.join_modal {
  .MuiDialog-container.MuiDialog-scrollPaper {
    > div {
      border-radius: 8px !important;
      max-width: 370px;
      width: 370px;
      padding: 0px !important;
    }
  }
  .MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
    padding: 17px 28px 10px 28px !important;
  }
  .modal_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .close_btn1 {
      margin-top: 0px;
      cursor: pointer;
    }
    .s_info {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      /* identical to box height */

      color: #adadad;
    }
  }
  .content_modals {
    margin-top: -10px;
    .level_title {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #adadad;
    }
    .s_download {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #5e5e5e;
      }
      .link_down {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #a3a3a3;
        padding: 2px 5px;
        border-radius: 4px;
        border: 1px solid #dadada;
        background-color: white;
        width: none;
      }
    }
    a {
      background: #30c1d9;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 0 13px 0;
      // width: 100%;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-top: 17px;
    }
    .attachment {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #adadad;
    }
    .session_day_time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #5e5e5e;
    }
    .divider {
      width: 100%;
      // background-color: #dadada;
      // height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-top: 2px dashed #dadada;
    }
    .level_title {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #adadad;
    }
    .m_class {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      margin-top: 15px;
      margin-bottom: 15px;
      span {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        margin-left: 11px;
      }
    }
    .m_prof {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      display: flex;
      align-items: center;
      gap: 11px;
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      .name_prof {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
      }
    }
    .m_subject {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #5e5e5e;
      display: flex;
      align-items: center;
      gap: 11px;
      margin-top: 15px;
      margin-bottom: 15px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #937ff1;
        border-radius: 6px;
        // width: 67px;
        height: 23px;
        color: white;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        padding: 0 9px;
      }
    }
  }
}
