.btn__favorite {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  border: 1px solid #5e5e5e;
  border-radius: 27px;
  z-index: 1;
  svg {
    stroke: #5e5e5e;
  }
  &.active {
    svg {
      fill: #fed02b;
    }
  }
}
