.offers {
  .offer__card {
    position: relative;
    width: 484px;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 8px;
    padding: 10px;
    .icon__container {
      position: absolute;
      margin: 0 auto;
      left: 50%;
      top: 26px;
      transform: translateX(-50%);
    }
    .title {
      margin: 10px 0;
      margin-top: 112px;
      font-weight: 600;
      font-size: 25px;
      text-align: center;
      color: #2e5da7;
      line-height: 40px;
    }
    .periods {
      padding: 0 8px;
      height: 48px;
      margin: 18px 0;
      .btn__period {
        margin: 6px 2px;
        padding: 8px 6px;
        &.active {
          background: #41d2e1;
        }
      }
    }

    .group__container {
      margin: 18px 0;
      height: 48px;
      background: #023d75;
      border-radius: 8px;
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .price {
      padding: 13px 0px;
      height: 53px;
      background: linear-gradient(0deg, #f2fafd, #f2fafd), #ffffff;
      border-radius: 18px;
      font-weight: 600;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      color: #000000;
    }
    ul {
      margin: 22px 0 18px 0;
      padding: 0 8px;
      li {
        list-style: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 20px;
        display: flex;
        align-items: baseline;
        span {
          margin-left: 12px;
        }
      }
    }
    .btn__explore {
      cursor: pointer;
      border-radius: 8px;
      border: none;
      width: 100%;
      height: 52px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      background: #41d2e1;
    }
  }

  @media only screen and (max-width: 1090px) {
    .offer__card {
      width: 47vw;
    }
  }

  @media only screen and (max-width: 740px) {
    .offer__card {
      width: 100%;
      margin: 24px auto;
    }
  }
}
