.pay_modal {
  position: relative;
  .MuiDialog-container.MuiDialog-scrollPaper {
    > div {
      border-radius: 8px !important;
      max-width: 770px;
      width: 770px;
      padding: 0px !important;
    }
  }
  .MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
    padding: 17px 28px 10px 28px !important;
  }
  .modal_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .close_btn {
      margin-top: -38px;
    }
  }
  .content_modals {
    a {
      background: #30c1d9;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 0 13px 0;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-top: 17px;
    }
    .title_pay {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      color: #000000;
    }
    .sub_title_pay {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      text-transform: capitalize;
      color: #78787a;
      margin-bottom: 15px;
    }
    .content_card_pay {
      border: 1px solid #dadada;
      border-radius: 8px;
      display: grid;
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      .left_card {
        grid-column-end: span 8;
        padding: 16px 24px;
        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #adadad;
        }
        span {
          font-weight: 500;
          font-size: 17px;
          line-height: 26px;
          color: #000000;
        }
        .nb_sessions {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #5e5e5e;
        }
        .teacher {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #5e5e5e;
        }
        .purchase {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #adadad;
          margin-top: 8px;
          margin-bottom: 8px;
        }
        .link_session {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #00adf4;
        }
      }
      .right_card {
        grid-column-end: span 4;
        padding: 16px 24px;
        border-left: 2px solid #dadada;
        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #adadad;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #5e5e5e;
          margin-bottom: 60px;

          .subject_item {
            // height: 23px;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;

            color: #ffffff;
            background-color: #e72b47;
            color: white;
            border-radius: 6px;
            padding: 4px 6px;
          }
        }
        .division_item {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #5e5e5e;
          margin-bottom: 6px;
          margin-top: 10px;
          .devision {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #000000;
          }
        }
        .invoice {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          //   margin-top: 30px;
          color: #adadad;
          margin-top: 8px;
        }
        .points {
          margin-top: 8px;

          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #000000;
          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
          }
        }
      }
    }
  }
}
