.rating_feedback {
  padding: 12px;
  .rating {
    .title {
      font-weight: 500;
      font-size: 16px;
      color: #000000;
      margin: 16px;
    }

    .rating_container {
      display: flex;
      gap: 14px;
      .star_container {
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        margin: auto 0;
        padding: 16px 20px;
      }
    }
  }
  .review {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      .user {
        display: flex;
        align-items: center;
        gap: 16px;
        > img,
        > svg {
          width: 48px;
          height: 48px;
        }
        .user_name {
          font-weight: 500;
          font-size: 17px;
          line-height: 26px;
          color: #000000;
        }
      }
    }
    .content {
      font-weight: 400;
      font-size: 16px;
      color: #545454;
    }
  }
}
