.section_live_session {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
  margin-top: 30px;
  .mobile_title {
    grid-column-end: span 12;

    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    display: none;
  }
  .s_calendar {
    margin-left: 16px;
    grid-column-end: span 12;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #dadadada;
    margin-top: -12px;
    grid-column-end: span 12;
  }

  .live_session_cards {
    display: grid;
    grid-column-end: span 12;
    grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
    // margin-top: 5px;
    margin-left: 26px;
    max-height: calc(100vh - 456px);
    overflow-y: auto;
    // margin-bottom: 18px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    .no_data {
      grid-column-end: span 12;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #878787;
    }
    .circlar_progress {
      .MuiCircularProgress-svg {
        color: #40c1d9 !important;
      }
    }
  }
  p {
    margin-left: 26px;
    grid-column-end: span 12;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 928px) {
  .section_live_session {
    margin-top: 0px;
    margin-bottom: 8px;
    .divider {
      display: none;
    }
    .s_calendar {
      margin-left: 16px;
      grid-column-end: span 6;
      display: none;
    }
    .mobile_title {
      display: block;
    }
    .live_session_cards {
      gap: 20px;
      grid-column-end: span 12;
      margin-left: 0px;
      margin-top: 15px;
      max-height: 300px;
    }
    p {
      display: none;
      margin: 0px;
    }
    .empty_section {
      overflow-y: hidden;
      height: 80px;
      .no_data {
        margin-top: -15px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .live_session_cards {
    overflow-y: scroll;
    // height: calc(50vh - 70px);
    height: 420px;
  }
  .empty_section {
    overflow-y: hidden;
    height: 85px;
    .no_data {
      margin-top: -15px;
    }
  }
  .one_item {
    height: 85px;
    overflow-y: hidden;
  }
  .tow_item {
    height: 200px;
    overflow-y: hidden;
  }
}
