.section_dashboard {
  .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today {
    border-radius: 8px;
    border: 1px solid #dadada;
  }

  .section_right {
    grid-column-end: span 4;
    .MuiCalendarPicker-root {
      width: 100% !important;
      font-family: "Poppins" !important;

      // > div {
      //   font-family: "Poppins" !important;
      //   padding: 0 !important;
      //   margin: 0 !important;
      //   // padding-left: 13px !important;
      // }

      .Mui-selected {
        background-color: #0f1e42 !important;
        border-radius: 8px;
        color: #fff !important;
        font-size: 16px;
        border: none;
      }

      .PrivatePickersSlideTransition-root {
        > div {
          > div {
            > :last-child {
              color: #ff0000;
            }
          }
        }
      }
      .PrivatePickersFadeTransitionGroup-root.MuiCalendarPicker-viewTransitionContainer {
        > div {
          > div {
            > div {
              button {
                &:hover {
                  border-radius: 8px;
                }
              }
              > :last-child {
                color: #ff0000;
              }
            }
          }
        }
      }

      // .css-7kykdr-MuiButtonBase-root-MuiIconButton-root {
      //   display: none !important;
      // }
      //buttons calendar
      // .css-fd2y78-MuiSvgIcon-root {
      //   display: none;
      // }

      .MuiButtonBase-root.MuiIconButton-root {
        & > .MuiIconButton-sizeSmall {
          display: none !important;
        }
      }
      .MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
        font-size: 16px !important;
        font-family: "Poppins" !important;
        font-weight: 400 !important;
        span {
          font-family: "Poppins" !important;
          font-size: 12px !important;
          font-weight: 400 !important;
        }
      }

      .css-1dozdou {
        font-family: "Poppins" !important;
        padding: 0 !important;
        margin: 0 !important;
        padding-left: 13px !important;
      }

      .PrivatePickersFadeTransitionGroup-root.MuiCalendarPicker-viewTransitionContainer {
        > div {
          > div {
            > div {
              justify-content: space-between !important;
              span {
                font-family: "Poppins" !important;
                font-size: 12px !important;
                font-weight: 400 !important;
                color: #000000;
              }
            }
          }
        }
      }

      .PrivatePickersSlideTransition-root {
        font-family: "Poppins" !important;
        > div {
          > div {
            justify-content: space-between !important;
            font-family: "Poppins" !important;
          }
        }
      }
    }
  }
}

.section_live_session {
  & .css-1dozdou {
    & .css-l0iinn {
      // & .MuiSvgIcon-root {
      //   display: none !important;
      // }
      .MuiSvgIcon-fontSizeMedium {
        display: none !important;
      }
      // .css-fd2y78-MuiSvgIcon-root {
      //   display: none !important;
      // }
      // MuiSvgIcon-root MuiSvgIcon-fontSizeMedium {}
    }
  }
  & .MuiCalendarPicker-root {
    & .css-l0iinn {
      pointer-events: none !important;
    }
    & .css-1n2mv2k {
      justify-content: space-between !important;
    }
  }
}

//build environment

// .MuiPickersArrowSwitcher-root {
//   & .MuiIconButton-edgeEnd {
//     &::after {
//       content: url("arrowLeft1.e77a77e1.svg") !important;
//     }
//     & svg {
//       display: none;
//     }
//   }
//   .MuiIconButton-edgeStart {
//     &::after {
//       content: url("arrRight1.8b8b3b9e.svg") !important;
//     }
//     & svg {
//       display: none;
//     }
//   }
// }
