.section_table {
  display: grid;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 12px !important;
  padding-bottom: 10px;

  > div {
    background-color: none !important;
    border: 1px solid #dadada;
    border-radius: 12px;
    border: none !important;
  }

  .table_content {
    min-width: 400px !important;
  }
  .table_body {
    padding: 100px !important;
    .table_row {
      padding: 100px !important;
    }
  }

  h3 {
    text-align: center;
    margin: 50px 10px;
    font-weight: 400;
    font-size: 18px;
    color: #878787;
  }
  p {
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins";
  }
  .table_content {
    width: 100%;
    min-width: 300px;
    .table_cell_date {
      font-weight: 500;
      font-size: 13px;
      p {
        font-weight: 500;
        border: 1px solid #dadada;
        padding: 8px;
        border-radius: 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e72b47;
      }
    }
  }

  table {
    // min-height: 136px;
    thead {
      tr {
        th {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          color: #464646;
          padding: 10px 20px 10px 20px;
          box-sizing: border-box;
        }
      }
    }
    tbody {
      td {
        border-bottom: none;
        box-sizing: border-box;
        margin-right: 0px !important;
        padding: 10px 20px 0px 20px;
      }
    }
  }

  .progress_icon {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #e5f3f5;
    }
  }
}

@media only screen and (max-width: 600px) {
  .section_table {
    table {
      thead {
        tr {
          th {
            padding: 10px;
          }
        }
      }
      tbody {
        td {
          padding: 10px;
        }
      }
    }
  }
}
