.section_password {
  border: 1px solid #e8e8e8;
  border-radius: 13px;
  padding: 20px;
  * {
    color: black;
  }
  .error_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .success_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .circlar_progress {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    .MuiCircularProgress-svg {
      color: #40c1d9 !important;
    }
  }
  .error_field {
    border: 1px solid red;
    border-radius: 13px;
  }

  & > div {
    .initial__password {
      width: 100%;

      label {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 12px !important;
      }
      & > div {
        display: flex;
        margin-top: 10px;
        input {
          border: 1px solid #ebebeb;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          width: 100%;
          border-radius: 8px 0 0 8px;
          margin-bottom: 10px;
        }

        span {
          padding: 0px;
          height: 50px !important;
          align-items: center;
          img {
            width: 51px;
            height: 51px;
            filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
              brightness(119%) contrast(119%);
          }
        }
        button {
          max-width: 143px;
          width: 100%;

          height: 50px;
          background: #30c1d9;
          border-radius: 0px 8px 8px 0px;
          border: #30c1d9;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
    width: 100%;
    .password__container {
      display: flex;
      flex-direction: column;
      label {
        font-size: 16px;
        font-weight: 500;
        color: #494949;
      }
      & > div {
        position: relative;
        display: flex;
        align-items: center;
        label {
          font-weight: 400;
          font-size: 15px;
          margin-bottom: 12px !important;
        }
        input {
          border: 1px solid #ebebeb;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          width: 100%;
          border-radius: 8px;
          margin-bottom: 10px;
          margin-top: 4px;
        }

        & > div {
          position: absolute;
          right: 15px;
          background: transparent;
          cursor: pointer;
        }
      }
      .error__msg {
        font-size: 13px;
        color: red;
        margin-bottom: 10px;
      }
    }
  }
  .btns_footer {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

    button {
      max-width: 140px;
      width: 100%;
      height: 50px;
      background: #30c1d9;
      border-radius: 0px 8px 8px 0px;
      border: #30c1d9;
      color: #ffffff;
      cursor: pointer;
    }
    .cancel__btn {
      background: #ffffff;
      border: 1px solid #0f1e42;
      border-radius: 8px;
      color: #0f1e42;
      cursor: pointer;
    }
    .save__btn {
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
    }
    .disabled {
      cursor: unset;
      opacity: 0.4;
    }
  }
}
