.wallet_section_table {
  margin-top: 15px;
  outline: 1px solid #dadada;
  // .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
  //   .MuiTablePagination-actions {
  //   margin-left: 0px !important;
  // }
  .empty_data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 140px 0 140px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #878787;
  }
  table {
    tbody {
      tr {
        td {
          font-size: 16px;
          font-weight: 500;
          padding: 18px;
        }
      }
    }
    // .css-1ex1afd-MuiTableCell-root {
    //   font-size: 16px;
    //   font-weight: 500;
    //   padding: 18px;
    // }
    .status_rejected {
      color: red;
    }
    .status_pending {
      color: #f3941a;
    }
    .status_approuved {
      color: #38bd40;
    }
    .first_col {
      color: #3c6ee1;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      &::before {
        content: "#";
      }
    }
    // .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    //   padding-right: none;
    // }
    thead {
      //   background-color: #f6f6f6;
      tr {
        th {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #8a8a8a;
        }
      }
    }
    tbody {
      tr {
        .total_earning__cell,
        .teacher__earning__cell,
        .nb__students__cell {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #5e5e5e;
        }
        .session__name__cell {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        .status__cell {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > p {
            display: flex;
            align-items: center;
            gap: 10px;
            & > span {
              font-weight: 500;
              font-size: 13px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .wallet_section_table {
    //resonsive pagination
    .css-16c50h-MuiInputBase-root-MuiTablePagination-select {
      margin: 5px;
    }
  }
}
