.LibraryAccordion {
  .tab {
    padding: 0 20px;
    margin-bottom: 6px;
    background: #d4f2f7;
    border: 1px solid #d4f2f7;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .chevron_rotate {
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
  }
}
