.recharge_modal {
  position: relative;

  // .MuiPaper-root.MuiPaper-elevationMuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
  //   border-radius: 19px !important;
  //   max-width: 652px;
  //   width: 552px;
  //   padding: 0 !important;
  // }
  .MuiDialog-container.MuiDialog-scrollPaper {
    > div {
      border-radius: 19px !important;
      max-width: 652px;
      width: 552px;
      padding: 0 !important;
    }
  }
  // .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  //   border-radius: 19px !important;
  //   max-width: 652px;
  //   width: 552px;
  //   padding: 0 !important;
  // }
  .MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
    padding: 20px 20px 0px 20px !important;
  }
  // .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  //   padding: 20px 20px 0px 20px !important;
  //   background-color: red;
  // }
  // .css-ypiqx9-MuiDialogContent-root {
  //   padding: 50px 90px 20px 90px !important;
  // }
  #alert-dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    // justify-content: center;
    text-align: center;
    .s_modal_title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border: 1px solid #0f1e42;
      border-radius: 18px;
      color: #0f1e42;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .close-btn {
    position: absolute;
    right: 20px;
    // float: left !important;
  }
  .content_modal {
    text-align: center;
    border-radius: 19px !important;
    // background-color: red;
    padding: 50px 90px 20px 90px !important;

    span {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
    }
    .s_modal_content {
      display: grid;
      grid-template-columns: repeat(12, minmax(auto, calc(100% / 12)));
      gap: 20px;
      text-align: center;
      justify-content: center;
      margin-top: 24px !important;

      div {
        cursor: pointer;
        border: none;
        grid-column-end: span 4;
        p {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .recharge_modal {
    .MuiDialog-container.MuiDialog-scrollPaper {
      > div {
        margin: 8px !important;
      }
    }

    // .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    //   border-radius: 19px !important;
    //   max-width: 100%;
    //   padding: 0 !important;
    // }
    .MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root {
      padding: 20px 20px 0px 20px !important;
    }

    .content_modal {
      padding: 30px 20px 20px 20px !important;
    }
  }
}
