.chapters_card {
  .card {
    .card__image-container {
      background-color: #fed02b;
      &.recordings {
        > span {
          color: #a5a5a5;
        }
      }
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .card__content {
      .card__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        .tag {
          display: inline-block;
          margin-left: auto;
          padding: 3px 13px;
          gap: 10px;
          background: #fed02b;
          border-radius: 6px;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height */

          color: #000000;
        }
      }
      .card__profile {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        justify-content: baseline;
        align-items: center;
        gap: 12px;
        color: #000000;
        > img {
          width: 32px;
          height: 32px;
          border-radius: 100%;
        }
        .title {
          width: 61px;
          height: 21px;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #5e5e5e;
        }
      }
    }
    .btn__container {
      padding-top: 0;
    }
  }
}
